<br>
<div class="top_link"><a href="http://localhost:4200/home"><img src="assets/backbutton.png" alt="">Return home</a></div>

<div class="container my-5 py-5 z-depth-1">
  <link rel="stylesheet" href="contact.component.css"> 

  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

    <style>
      .map-container {
        height: 300px;
        position: relative;
      }

      .map-container iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
      }
      
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class='line'>
  <h2 class='pop-outin'>CONTACT US</h2>
</div>
    <!--Google map-->
    <div id="map-container-google-1" class="z-depth-1 map-container mb-5">
      <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
        style="border:0" allowfullscreen></iframe>
    </div>
    <!--Google Maps-->

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-5 col-md-12 mb-0 mb-md-0">

        <h3 class="font-weight-bold">Contact Us</h3>

        <p class="text-muted"> Gokul Bhuvan, Nr.Kalpana Theatre, Hava Mahal Bunglow Rd, Bungalow Road,  <br>Ichalkaranji, Maharashtra 415116</p>

        <p><span class="font-weight-bold mr-2">Email:</span><a href="">softwareengitech@gmail.com</a></p>
        <p><span class="font-weight-bold mr-2">Phone:</span><a href="">+91 8329518385</a></p>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-7 col-md-12 mb-4 mb-md-0">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-6">

            <!-- Material outline input -->
            <div class="md-form md-outline mb-0">
              <input type="text" id="form-first-name" class="form-control" placeholder="First name">
           
            </div>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6">

            <!-- Material outline input -->
            <div class="md-form md-outline mb-0">
              <input type="text" id="form-last-name" class="form-control" placeholder="Last name">
              
            </div>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

        <!-- Material outline input -->
        <div class="md-form md-outline mt-3">
          <input type="email" id="form-email" class="form-control"placeholder="E-mail">
        
        </div>
<br>
        <!-- Material outline input -->
        <div class="md-form md-outline">
          <input type="text" id="form-subject" class="form-control" placeholder="Subject">
       
        </div>
<br>
        <!--Material textarea-->
        <div class="md-form md-outline mb-3">
          <textarea id="form-message" class="md-textarea form-control" rows="3" ></textarea>
          <label for="form-message">How we can help?</label>
        </div>

        <button type="submit" class="btn btn-info btn-sm ml-0">Submit<i class="far fa-paper-plane ml-2"></i></button>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->


  </section>
  <!--Section: Content-->


</div>

