<link rel="stylesheet" href="home.component.css">
<br>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
 
.drop-main {
  display: flex;
  font-size: 7rem;
  margin: 1.5rem;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.d {
  opacity: 2;
  animation: drop 0.7s linear forwards;
  color: #131314;
}

@keyframes drop {
  0% {
      transform: translateY(-200px);
      opacity: 0;
  }
  50% {
      transform: translateY(0px);
      opacity: 1;
  }
  65% {
      transform: translateY(-17px);
      opacity: 1;
  }
  75% {
      transform: translateY(-22px);
      opacity: 1;
  }
  100% {
      transform: translateY(0px);
      opacity: 1;
  }
}

</style>
<div class="wrapper one">
<div class="drop-main">
    <div class="d">W</div>
    <div class="r">E</div>
    <div class="o">L</div>
    <div class="d">C</div>
    <div class="p">O</div>
    <div class="r">M</div>
    <div class="o">E</div>
</div>
</div>
   <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="animate-charcter">
          Purchase Your software by choice. </h3>
      </div>
    </div>
  </div>
 