
<link rel="stylesheet" href="aboutus.component.css"> 
<br>
<div class="top_link"><a href="http://localhost:4200/home"><img src="assets/backbutton.png" alt="">Return home</a></div>
<section>
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-xl-8 text-center">
      <h3 class="mb-4">About Team</h3>
      <p class="mb-4 pb-2 mb-md-5 pb-md-0">
        Our software management team comprises dedicated professionals with extensive expertise in overseeing and optimizing the entire software development lifecycle. With a deep commitment to quality, efficiency, and innovation, we work collaboratively to deliver exceptional software solutions. Our diverse skill set and passion for technology drive us to consistently exceed client expectations. We are your trusted partner in navigating the complexities of modern software development.
      </p>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="card testimonial-card">
        <div class="card-up" style="background-color: #9d789b;"></div>
        <div class="avatar mx-auto bg-white">
          <img src="/assets/aditi.jpg"
            class="rounded-circle img-fluid" />
        </div>
        <div class="card-body">
          <h4 class="mb-4">Aditi Magdaum.</h4>
          <hr />
          <p class="dark-grey-text mt-4">
            <i class="fas fa-quote-left pe-2"></i>Frontend Developer
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="card testimonial-card">
        <div class="card-up" style="background-color: #7a81a8;"></div>
        <div class="avatar mx-auto bg-white">
          <img src="/assets/sakshi (1).jpg"
            class="rounded-circle img-fluid" />
        </div>
        <div class="card-body">
          <h4 class="mb-4">Sakshi Neje</h4>
          <hr />
          <p class="dark-grey-text mt-4">
            <i class="fas fa-quote-left pe-2"></i>Bachend Developer
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-0">
      <div class="card testimonial-card">
        <div class="card-up" style="background-color: #6d5b98;"></div>
        <div class="avatar mx-auto bg-white">
          <img src="/assets/shraddha.jpg"
            class="rounded-circle img-fluid" />
        </div>
        <div class="card-body">
          <h4 class="mb-4">Shraddha Nandai</h4>
          <hr />
          <p class="dark-grey-text mt-4">
            <i class="fas fa-quote-left pe-2"></i>Technical Lead
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

